@using System.Configuration
@using System.Web.Optimization
@model Simple.ViewModel.ViewModelNonGenericBase
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>todo: replace me</title>
	<style type="text/css">
		.hideUnbound {
			display: none;
		}
	</style>
	<!-- toolkit styles -->
	@Styles.Render("~/Content/bootstrap-css")
	@Styles.Render("~/Content/site-css")
	<!-- /toolkit styles -->
</head>
<body>
	<!-- Icons -->
	@*@Html.Partial("Components/_Icons")*@
	<!-- /icons -->

	<div class="container">
		<header>
			@Html.Partial("Components/_Header")
		</header>

		<main>
			@RenderBody()
		</main>
		@*@Html.Partial("Components/_Footer")*@
		@RenderSection("Modals", required: false)

	</div>
	<!-- toolkit scripts -->
	@Scripts.Render("~/bundles/vendor-and-toolkit-js")
	@Scripts.Render("~/bundles/site-js")
	<!-- /toolkit scripts -->
	@if (Model != null)
	{
		<script type="text/javascript">
			window.appnamespace = 'simple';
			(function () {
				simple['@Model.Title'] = new simple['@Model.Title'](@Html.Raw(Model.ToJson()));
			}(window[window.appnamespace] = window[window.appnamespace] || {}));
		</script>
	}
</body>

</html>
